#toolbar .block-menu-block {
  float: left;
}

#toolbar .contextual-links-wrapper{
  display: none;
}

.toolbar #toolbar {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
}

#toolbar-user {
  float: right;
}
#toolbar-user a {
  padding: 4px 8px;
  line-height: 20px;
}
.add-or-remove-shortcuts {
  /*display: none; *//* Don't need this */
}
#toolbar-user li {
    margin-right: 10px;
}

/* Remove box shadow and some other styles */
.toolbar #toolbar {
    background: #101010;
    box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
    -ms-filter: none;
    -moz-box-shadow: none;
}

#toolbar h2 {
  display: none;
}

#toolbar .menu-block-wrapper a {
  font-size: 12px;
  color: #eee;
}

#toolbar .menu-block-wrapper a:hover,
#toolbar .menu-block-wrapper a.active-trail {
  background-color: #0074BD;
  color: #FFF;
}

#toolbar .menu-block-wrapper a {
  display: block;
  padding: 4px 8px;
  line-height: 20px;
  float: none;
}

#toolbar .menu-block-wrapper > ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#toolbar .menu-block-wrapper > ul > li {
  float: left;
}

#toolbar .menu-block-wrapper > ul > li > a {

}

#toolbar .menu-block-wrapper > ul > li:hover ul {
  display: block;
}

#toolbar .menu-block-wrapper > ul > li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  padding: 0;
  background: #101010;
}

#toolbar .menu-block-wrapper > ul > li ul li {
  float: none;
  display: block;
}

#toolbar .menu-block-wrapper > ul > li > a[href='/'] {
  font-size: 24px;
}
